@charset "UTF-8";
:root {
  --accent-color: #2b7fff;
  --main-color: #011c44;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--main-color);
  font-weight: 400;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hero-button {
  border: transparent;
  border-radius: 32px;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 14px;
  padding: 16px 32px;
}

.hero-button:hover {
  font-weight: 600;
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--accent-color);
  border-radius: 32px;
}

.button-text-descripcion {
  font-size: 12px;
}

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--main-color);
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 77%;
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
}
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__nav {
  color: var(--main-color);
  font-family: Roboto;
  font-weight: 400;
}
.header__nav:hover {
  color: var(--accent-color);
  font-weight: 700;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
.header__contact__link {
  color: var(--main-color);
}
.header__contact__link:hover {
  fill: var(--accent-color);
}
.header__contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.hero-button {
  border: transparent;
  border-radius: 32px;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 14px;
  padding: 16px 32px;
}

.hero-button:hover {
  font-weight: 600;
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--accent-color);
  border-radius: 32px;
}

.button-text-descripcion {
  font-size: 12px;
}

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--main-color);
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 77%;
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.hero-text {
  margin-bottom: 16px;
  font-size: 18px;
}

.hero-title {
  color: var(--accent-color);
  font-family: Play;
  font-weight: 700;
  font-size: 128px;
  margin-bottom: 0;
  line-height: 114px;
  margin-bottom: 40px;
}

.hero-section {
  padding: 120px 0 63.25px;
  height: 657px;
  background-image: linear-gradient(89.38deg, rgba(255, 255, 255, 0.9) 19.62%, rgba(255, 255, 255, 0.85) 27.31%, rgba(255, 255, 255, 0.19) 38.65%, rgba(255, 255, 255, 0) 72.78%), url("../imeges/Group 46196.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.section-title {
  color: var(--main-color);
  font-family: Play, sans-serif;
  font-size: 64px;
  padding-bottom: 40px;
}

.accent {
  color: var(--accent-color);
}

.section-about-us {
  padding: 63.25px 0 86px;
}

.container-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 32px;
}

.about-us-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 700px;
}

.about-us-text {
  margin-bottom: 40px;
  font-size: 22px;
}

.about-us-text:last-child {
  margin-bottom: 0;
}

.about-us-images-list {
  position: relative; /* Это создаст контекст для абсолютного позиционирования */
  list-style: none;
}

.about-us-images-list::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../svg/Star2.svg);
  background-repeat: no-repeat;
  right: 30px; /* Отступ от правого края списка */
  top: 14px;
}

.about-us-images-list::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../svg/Star3.svg);
  background-repeat: no-repeat;
  left: 80%; /* Центр между изображениями */
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us-images-item-first::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url(../svg/Star1.svg);
  background-repeat: no-repeat;
  left: 80px; /* Сдвиг влево от первого фото */
  top: 50%;
}

.about-us-images-item-second {
  margin-top: 40px;
  margin-left: 160px;
}

.wave-backgraund {
  position: absolute;
  bottom: -860px;
  left: 0;
  width: 100%;
  z-index: 0;
}

.section-why-we {
  padding: 86px 0 48px;
  position: relative;
}

.why-we-title {
  text-align: center;
}

.why-we-text {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 12px;
}

.why-we-exsample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.why-we-cards {
  border-radius: 32px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
          box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  width: 316px;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  z-index: 2;
}

.section-our-procedures {
  padding: 48px 0;
}

.our-procedures-title {
  text-align: center;
}

.our-procedure-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-procedures-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formats-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(33.3333333333% - 32px);
      flex-basis: calc(33.3333333333% - 32px);
}

.formard-cards {
  position: relative;
  height: 456px;
  width: 344px;
  /* border: 1px solid black; */
  border-radius: 16px 4px 16px 4px;
  /* border-color: #011c44; */
  /* background-image: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ); */
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
}

.format-imeges {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 4px 16px 4px;
  z-index: -2; /* ещё ниже */
}

.formard-cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011c44 101.39%);
  border-radius: 16px 4px 16px 4px;
  z-index: -1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.formard-cards:hover::before {
  opacity: 0;
}

.formard-cards:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.our-procedure-text {
  color: #ffffff;
  font-family: roboto;
  font-weight: 200;
  font-size: 22px;
}

.section-contacts-section {
  padding: 94px 0;
}

.contact-section-title {
  text-align: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.contact-form {
  width: 423px;
  height: 481px;
  background-color: var(--main-color);
  border-radius: 32px;
}

.contact-text {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 32px;
  padding-top: 48px;
}

.contact-field {
  position: relative;
  margin-bottom: 16px;
  text-align: center;
}

.contact-input {
  padding: 18px 32px;
  width: 360px;
  height: 52px;
  border: 2px solid #747272;
  border-radius: 32px;
  background: transparent;
}

.contact-input:focus {
  background-color: #747272;
  outline: none;
}

.footer {
  /* padding-top: 48px; */
  background-color: var(--main-color);
  background-image: url(../imeges/background.png);
  color: #ffffff;
  padding: 32px 0 32px 0;
  position: relative;
}

.footer::after {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 180px;
  height: 112px;
  background-image: url("../imeges/ Сosmetics.png");
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  gap: 96px;
  /*  */
  /* justify-content: space-between; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* .footer-nav,
  .footer-adress-columns,
  .footer-adress-coopirate {
    flex: 1;
    min-width: 200px;
  } */
.footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  padding: 0 10px;
}

.footer-logo {
  /* flex-basis: 50%; */
  /*  */
  display: block;
  margin-bottom: 16px;
}

.footer-link {
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.footer-link:hover {
  color: #2b7fff;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-address {
  margin-bottom: 16px;
}

.footer-contacts-list {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-item {
  text-decoration-color: #ffffff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  /* flex-basis: 50%; */
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-basis: 50%;
    flex-direction: column; */
  /* justify-content: space-between; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-adress-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  gap: 16px;
  /* flex-wrap: wrap; */
  /*  */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  gap: 16px;
  /* align-self: flex-start; */
  /*  */
  /* flex: 1; */
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  list-style: none;
  padding-left: 0;
}

.footer-link:hover {
  color: #2b7fff;
}

/* 
  .footer-adress-list {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  } */
/* .footer-social-icons {
    display: flex;
    gap: 12px;
    /* justify-content: flex-start; */
/* list-style: none; */
/* padding: 0;
  margin: 0; */
/*  */
/* flex-direction: column; */
.footer-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.footer-privacy-link {
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.footer-copyright {
  font-family: roboto;
  font-weight: 400;
  font-size: 13px;
  color: #747272;
}

/* .footer-adress-coopirate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
  } */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 725px;
  width: 100%;
  max-height: 680px;
  height: 100%;
  padding: 144px 42px 144px;
  background-color: var(--main-color);
  border-radius: 48px;
  overflow: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.modal-title {
  font-size: 64px;
  color: #ffffff;
  font-weight: 700;
  font-family: Play;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.modal-text {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding-bottom: 32px;
}

.modal-new-line {
  display: block;
  margin-top: 8px;
}

.form-field {
  position: relative;
  margin-bottom: 24px;
}

.form-label {
  position: absolute;
  top: 18px;
  left: 32px;
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
}

/* .form-field:focus-within .form-label {
    transform: translate(10px 10px);

  } */
.form-input {
  padding: 24px 32px;
  width: 100%;
  border: 2px solid #747272;
  border-radius: 32px;
  background: transparent;
  margin-top: 24px;
}

.form-input:focus {
  background-color: #747272;
  outline: none;
}

.form-input::-webkit-input-placeholder {
  /* background-color: #747272; */
  outline: none;
}

.form-input::-moz-placeholder {
  /* background-color: #747272; */
  outline: none;
}

.form-input:-ms-input-placeholder {
  /* background-color: #747272; */
  outline: none;
}

.form-input::-ms-input-placeholder {
  /* background-color: #747272; */
  outline: none;
}

.form-input::placeholder {
  /* background-color: #747272; */
  outline: none;
}

.form-button {
  display: block;
  margin: 0 auto;
  border: transparent;
  border-radius: 32px;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px 32px;
}

.modal-confidentiality {
  max-width: 220px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  color: #747272;
  text-align: center;
  margin: 0 auto;
}

.modal-link {
  color: #747272;
  text-decoration: underline;
  text-underline-offset: 2px;
}/*# sourceMappingURL=main.css.map */