.section-about-us {
  padding: 63.25px 0 86px;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 32px;
  }

  &__content {
    flex: 1;
    max-width: 700px;
  }
  &__title {
    color: var(--main-color);
    font-family: Play, sans-serif;
    font-size: 64px;
    padding-bottom: 40px;

    &--accent {
      color: var(--accent-color);
    }
  }

  &__text {
    margin-bottom: 40px;
    font-size: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__images-list {
    position: relative; /* Это создаст контекст для абсолютного позиционирования */
    list-style: none;

    ::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url(../svg/Star2.svg);
      background-repeat: no-repeat;
      right: 30px; /* Отступ от правого края списка */
      top: 14px;
    }

    ::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url(../svg/Star3.svg);
      background-repeat: no-repeat;
      left: 80%; /* Центр между изображениями */
      top: 40%;
      transform: translate(-50%, -50%);
      display: none;
      @media (min-width: $br-tablet) {
        display: block; // Показываем на десктопе
      }
    }

    ::after {
      content: '';
      position: absolute;
      width: 64px;
      height: 64px;
      background-image: url(../svg/Star1.svg);
      background-repeat: no-repeat;
      left: 80px; /* Сдвиг влево от первого фото */
      top: 50%;
      display: none;
      @media (min-width: $br-tablet) {
        display: block; // Показываем на десктопе
      }
    }
  }

  &__images-item-first,
  &__images-item-second {
    display: none;
    @media (min-width: $br-desctop) {
      display: block;
    }
  }

  &__images-item-second {
    @media (min-width: $br-desctop) {
      margin-top: 40px;
      margin-left: 160px;
    }
  }
}
