.hero-button {
  border: transparent;
  border-radius: 32px;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 14px;
  padding: 16px 32px;
}
.hero-button:hover {
  font-weight: 600;
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--accent-color);
  border-radius: 32px;
}

.button-text-descripcion {
  font-size: 12px;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--main-color);
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 77%;
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}
