.footer {
  background-color: var(--main-color);
  background-image: url(../imeges/background.png);
  color: #ffffff;
  padding: 32px 0;
  position: relative;

  &::after {
    display: none;
    content: '';
    @media screen and (min-width: $br-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 180px;
      height: 112px;
      background-image: url('/imeges/Сosmetics-bg.png');
      background-size: 100%;
      background-repeat: no-repeat;
      display: block;
      content: '';
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__container {
    display: flex;
    align-items: center;
    // gap: 96px;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (min-width: $br-tablet) {
      flex-direction: row;
      gap: 96px;
      align-items: start;
    }
  }

  &__column {
    flex: 1;
    min-width: 200px;
    padding: 0 10px;
  }

  &__logo {
    display: block;
    margin-bottom: 42px;
    @media screen and (min-width: $br-tablet) {
      margin-bottom: 16px;
    }
  }

  &__nav {
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
    }

    &-link {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      font-style: normal;

      &:hover {
        color: #2b7fff;
      }
    }
  }

  &__contacts {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-list {
      // list-style: none;
      // padding: 0;
      // margin: 0 0 16px 0;
      // display: flex;
      // flex-direction: column;
      // gap: 8px;
      display: none;
      @media screen and (min-width: $br-tablet) {
        list-style: none;
        padding: 0;
        margin: 0 0 16px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        display: block;
      }
    }

    &-link {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      padding-bottom: 16px;
      font-style: normal;
      padding-bottom: 16px;
    }
  }

  &__social {
    &-icons {
      display: flex;
      gap: 16px;
      margin-top: 16px;
      list-style: none;
      padding-left: 0;
      justify-content: center;
      margin-bottom: 10px;
      @media screen and (min-width: $br-tablet) {
        justify-content: flex-start;
        margin-bottom: 0;
      }
    }
  }

  &-link:hover {
    color: #2b7fff;
  }

  &__legal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    @media screen and (min-width: $br-tablet) {
      align-items: flex-start;
    }
  }

  &__privacy-link {
    // font-family: 'Roboto', sans-serif;
    // font-weight: 400;
    // font-size: 16px;
    // font-style: normal;
    display: none;
    @media screen and (min-width: $br-tablet) {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      display: block;
    }
  }

  &__copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #747272;
  }
}
