.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: $br-tablet) {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  }

  &__container {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
  }

  &__navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__nav__main {
    display: none;

    @media screen and (min-width: $br-tablet) {
      display: flex;
      align-items: center;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
      transition: color 0.3s;
    }
  }
  &__nav {
    color: var(--main-color);
    font-family: Roboto;
    font-weight: 400;

    &:hover {
      color: var(--accent-color);
      font-weight: 700;
    }
  }
  &__contact {
    display: none;

    @media screen and (min-width: $br-tablet) {
      display: flex;
      align-items: center;
      margin-left: 40px;
    }
  }
  &__contact__link {
    color: var(--main-color);
    &:hover {
      fill: var(--accent-color);
    }
  }
  &__contact__items {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__burger {
    display: block;
    background-color: transparent;
    border: none;
    fill: #ffffff;
    padding: 0;

    @media screen and (min-width: $br-tablet) {
      display: none;
    }
    @media screen and (min-width: $br-desctop) {
      display: none;
    }
  }
}
